#WelcomeSection{
    background-image: url(/images/cloud.png);
    background-size: cover;
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#WelcomeSection h1{
    font-family: sans-serif;
    font-size: 3em;
}

.nav{
    position: fixed;
    margin: 0px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(150, 182, 230, 0.3);    
}

.nav ul{
    display: inline;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 0.5em;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgba(157, 187, 230, 0.8);
}

.utplassering-nav{
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
    font-size: 4.1em;
    font-weight: bold;
}

.main-nav{
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#About{
    display: grid;
    grid-template-areas:
    "header header header"
    "picture main main";

    height: 100vh;
    margin: 2em 10em 0 10em;
}

.section-header{
    grid-area: header;
    font-size: 2em;
    color: rgb(0, 0, 0);
    font-family: Papyrus;
    font-weight: bold;
    text-align: center;
}

.about-image{
    grid-area: picture;
    border-radius: 0%;
    margin: 15px;
}

.about-content{
    grid-area: main;
    font-family: sans-serif;
    font-size: 1em;
}

#footer{
    margin: 0px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(150, 182, 230, 0.3);    
}

#footer ul{
    display: inline;
}

#footer li{
    display: inline;
}

#footer a{
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 0.5em;
    text-decoration: none;
}
#footer a:hover{
    background-color: rgba(255, 255, 255, 0.7);
}


.main-footer{
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

#Start{
    background-image: url(/images/cloud.png);
    background-size: cover;
    color: black;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

li{
    list-style: none;
}

.visma{
    background-size: cover;
    color: black;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.visma-list{
    background-size: cover;
    color: black;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.timeplan{
    background-size: cover;
    color: black;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

.visma-list{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.oppgaver{
    background-size: cover;
    color: black;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.oppgaver-list{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2.5em;
}

.dataskap{
    background-size: cover;
    color: black;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}