#WelcomeSection{
    background-image: url(/images/cloud.png);
    background-size: cover;
    color: black;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#WelcomeSection h1{
    font-family: sans-serif;
    font-size: 3em;
}

.nav{
    position: fixed;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 1.0);
}

.nav li{
    display: inline;
}